chromadb
datasets
langchain
langchain-anthropic
langchain-community
langchain-openai
langchain_mistralai
matplotlib
openai
opencv-python
pypdf
rank_bm25
tqdm
elevenlabs
SpeechRecognition
pydub
ragas
ipykernel
